# **Introduction to Pandas**

Pandas can work with a wide variety of file formats. Some of the commonly supported file formats by Pandas include: CSV (Comma-Separated Values), Excel, JSON (JavaScript Object Notation), HDF5 (Hierarchical Data Format), and SQL. Pandas also supports other formats such as plain text files, Parquet files, Feather files, HTML files, among others.

**Importing**

In [35]:
import pandas as pd
import numpy as np

**Dataframes**

In [18]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

# Creating a DataFrame from a CSV file
df = pd.read_csv('file.csv')
print('\n')
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35


     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

**Exploring data**

head

Display the first few rows of the DataFrame

In [20]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

columns

Get column names

In [21]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

dtypes

Get data types of columns

In [22]:
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

describe

Get summary statistics

In [23]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

**Indexing and Selection**

Selecting a single column

In [25]:
df['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

Selecting multiple columns

In [26]:
df[['Duration', 'Calories']]

     Duration  Calories
0          60     409.1
1          60     479.0
2          60     340.0
3          45     282.4
4          45     406.0
..        ...       ...
164        60     290.8
165        60     300.0
166        60     310.2
167        75     320.4
168        75     330.4

[169 rows x 2 columns]

loc:  Allows label-based indexing (using row and column names).

iloc: Allows integer-based indexing (using numerical row and column indices).

In [72]:
df.iloc[0:2]

   Duration  Pulse  Maxpulse  Calories  MinPulse
0      60.0    110       130     409.1        89
1      60.0    117       145     479.0        68

In [79]:
df.loc[:, 'Duration':'Pulse']

     Duration  Pulse
0        60.0    110
1        60.0    117
2        60.0    103
3        45.0    109
4        45.0    117
..        ...    ...
164      60.0    105
165      60.0    110
166      60.0    115
167      75.0    120
168      75.0    125

[169 rows x 2 columns]

Filtering rows based on a condition

In [27]:
df[df['Calories'] > 100]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[159 rows x 4 columns]

Selecting rows based on position

In [28]:
df.iloc[0:3]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0

**Data Manipulation**

Sorting the DataFrame by a column

In [29]:
df.sort_values('Pulse')

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
93         15     80       100      50.5
89         20     83       107      50.3
160        30     85       120     250.4
92         30     90       107     105.3
..        ...    ...       ...       ...
85         30    151       170     300.0
95         20    151       168     229.4
97         25    152       168     244.2
58         20    153       172     226.4
80         30    159       182     319.2

[169 rows x 4 columns]

Adding a new column

In [37]:
df['MinPulse'] = np.random.randint(60, 101, size=len(df))
print(df)

     Duration  Pulse  Maxpulse  Calories  MinPulse
0          60    110       130     409.1        89
1          60    117       145     479.0        68
2          60    103       135     340.0        80
3          45    109       175     282.4        74
4          45    117       148     406.0        61
..        ...    ...       ...       ...       ...
164        60    105       140     290.8        77
165        60    110       145     300.0        72
166        60    115       145     310.2        90
167        75    120       150     320.4        68
168        75    125       150     330.4        68

[169 rows x 5 columns]

Removing a column

axis = 1 for columns

axis = 0 for rows, it requires the index


Remember that if you don't use inplace=True when calling drop(), the original DataFrame won't be modified, and you'll need to assign the result to a new variable or to df in order to see the changes reflected in the subsequent printing of the DataFrame.

In [52]:
df.drop('MinPulse', axis=1)
print(df)

     Duration  Pulse  Maxpulse  Calories  MinPulse
0        60.0    110       130     409.1        89
1        60.0    117       145     479.0        68
2        60.0    103       135     340.0        80
3        45.0    109       175     282.4        74
4        45.0    117       148     406.0        61
..        ...    ...       ...       ...       ...
164      60.0    105       140     290.8        77
165      60.0    110       145     300.0        72
166      60.0    115       145     310.2        90
167      75.0    120       150     320.4        68
168      75.0    125       150     330.4        68

[169 rows x 5 columns]

Grouping and aggregating data

In [41]:
df.groupby('Pulse')['Maxpulse'].mean()

Pulse
80     110.000000
83     107.000000
85     120.000000
90     114.416667
92     113.666667
93     121.666667
95     123.333333
97     126.428571
98     123.333333
99     122.000000
100    125.684211
101    125.500000
102    128.166667
103    132.888889
104    132.250000
105    132.333333
106    131.000000
107    133.000000
108    140.000000
109    141.555556
110    138.428571
111    141.000000
112    141.500000
113    138.000000
114    146.750000
115    142.000000
116    141.000000
117    145.333333
118    137.666667
119    169.000000
120    150.000000
121    146.000000
122    149.000000
123    149.000000
124    139.000000
125    150.000000
129    103.000000
130    101.000000
136    167.000000
137    184.000000
141    162.000000
149    169.000000
150    169.000000
151    169.000000
152    168.000000
153    172.000000
159    182.000000
Name: Maxpulse, dtype: float64

unique

In [80]:
df['Duration'].unique()

array([ 60.,  45.,  30.,  80.,  20., 210., 160., 180., 150., 300.,  90.,
       120., 270.,  15.,  25.,  75.])

Saving data

In [83]:
df1 = df[df['Duration'] >= 100]
df1

df1.to_csv('new_data.csv')

In [84]:
pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

**Data Cleaning**

Handling missing values

In [48]:
#  # Drop rows with any missing values
df.dropna()

     Duration  Pulse  Maxpulse  Calories  MinPulse
0          60    110       130     409.1        89
1          60    117       145     479.0        68
2          60    103       135     340.0        80
3          45    109       175     282.4        74
4          45    117       148     406.0        61
..        ...    ...       ...       ...       ...
164        60    105       140     290.8        77
165        60    110       145     300.0        72
166        60    115       145     310.2        90
167        75    120       150     320.4        68
168        75    125       150     330.4        68

[164 rows x 5 columns]

In [44]:
# Fill missing values with a specified value
df.fillna(0)

     Duration  Pulse  Maxpulse  Calories  MinPulse
0          60    110       130     409.1        89
1          60    117       145     479.0        68
2          60    103       135     340.0        80
3          45    109       175     282.4        74
4          45    117       148     406.0        61
..        ...    ...       ...       ...       ...
164        60    105       140     290.8        77
165        60    110       145     300.0        72
166        60    115       145     310.2        90
167        75    120       150     320.4        68
168        75    125       150     330.4        68

[169 rows x 5 columns]

In [46]:
# Handling duplicate data
df.drop_duplicates()

     Duration  Pulse  Maxpulse  Calories  MinPulse
0          60    110       130     409.1        89
1          60    117       145     479.0        68
2          60    103       135     340.0        80
3          45    109       175     282.4        74
4          45    117       148     406.0        61
..        ...    ...       ...       ...       ...
164        60    105       140     290.8        77
165        60    110       145     300.0        72
166        60    115       145     310.2        90
167        75    120       150     320.4        68
168        75    125       150     330.4        68

[169 rows x 5 columns]

In [51]:
# Data type conversions
df['Duration'] = df['Duration'].astype(float)
print(df)

     Duration  Pulse  Maxpulse  Calories  MinPulse
0        60.0    110       130     409.1        89
1        60.0    117       145     479.0        68
2        60.0    103       135     340.0        80
3        45.0    109       175     282.4        74
4        45.0    117       148     406.0        61
..        ...    ...       ...       ...       ...
164      60.0    105       140     290.8        77
165      60.0    110       145     300.0        72
166      60.0    115       145     310.2        90
167      75.0    120       150     320.4        68
168      75.0    125       150     330.4        68

[169 rows x 5 columns]